:root {
    --not-quite-white: rgba(255, 255, 255, 0.66); 
    --dark-purple: #231123; 
    --purple: rgba(119, 58, 119, 0.8);
    --olive-green: rgba(217, 234, 196, 0.8);
    --darkred: rgba(139, 0, 0, 0.8);
    --shadow: #2311233d;
    
}

p {
    font-family: Philosopher;
    font-weight: bolder;
}

html {
    background-image: url("../img/fantasy_background.jpg");
    background-position: center top;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: fill;
    background-blend-mode:screen;
    background-color: var(--olive-green);
    
    display: grid; 
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 0.5fr, 1fr, 0.5fr;
}

h1 {
    color: black; 
    font-family: Cinzel;
    text-shadow: 3px 3px 6px var(--shadow);
}

h2 {
    color: black; 
    text-shadow: 2px 2px 4px var(--shadow);
}

header {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 3;
}

.header-box {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.quiz-box {
    display: inline-block;
    margin-top: 10px;
    width: 600px;
    min-height: 400px; 
    border: solid 2px var(--dark-purple);
    border-radius: 20px;
    box-shadow: 3px 3px 6px var(--shadow);
    background-color: var(--not-quite-white); 
    padding: 15px;

    display: grid; 
    grid-template-columns: 0.5fr, 1fr, 0.5fr;
    grid-template-rows: 0.5fr, 0.5fr, 0.5fr, 1fr, 0.5fr;
}

/*sorterar innehåll inom quiz boxen */
.point-counter {
    grid-area: 1 / 1 / 2 / 4;
    display: flex; 
    justify-content: space-between;
}

.question {
    display: flex;
    grid-area: 3 / 1 / 4 / 4;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.question button {
    height: 50px;
    border-color: var(--dark-purple);
    border-radius: 5px;
    background: var(--olive-green);
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.answer {
    grid-area: 4 / 1 / 5 / 4; 
}

button:hover {
    background: var(--purple);
    color: var(--not-quite-white)
}

.buttons button:hover {
    background: var(--purple);
    color: var(--not-quite-white)
}

.answer-option:hover {
    background: var(--purple);
    color: var(--not-quite-white)
}

.answer-option-disabled:hover {
    background: gray;
    color: var(--dark-purple);
}

.buttons {
    grid-area: 5 / 1 / 6 / 4;
    display: flex; 
    flex-direction: row; 
    align-self: flex-end;
    justify-content: space-between; 
    
}

.buttons button {
    height: 50px;
    border-color: var(--dark-purple);
    border-radius: 5px;
    background: var(--olive-green);
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    width: 100px;

}

.end-result {
    grid-area: 1 / 1 / 6 / 4;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

#FEEDBACKVIEW {
    white-space: pre-line;
}

footer {
    grid-area: 3 / 1 / 4 / 3;
    display: flex; 
    justify-content: center;
    margin-top: 50px;

}

footer p {
    font-weight: bolder;
    font-size: medium;
}

.progress-bar {
    display: flex; 
    align-self: center;
    justify-content: center;
    background-color: var(--not-quite-white);
    border: solid 2px var(--dark-purple);
    border-radius: 6px;
    box-shadow: 3px 3px 6px var(--shadow);
    height: 12px;
    width: 550px;
    margin: 0;
    padding: 2px;
}

.progress-bar p {
    font-size: small;
    align-self: center;
    font-weight: bolder;
}

.progress-bar card:empty {
    height: 12px;
    width: 45px;
    align-self: center;
    margin: 0;
    margin-left: 1px;
    margin-left: 1px;
    padding: 0;
}

.not-answered {
    background-color: var(--not-quite-white);
    border: solid 1px var(--olive-green);
    border-radius: 4px;
}
.answered {
    background-color: var(--olive-green);
    border: solid 1px var(--dark-purple);
    border-radius: 4px;
}

#NEXT_BTN:disabled,
#PREV_BTN:disabled,
#START_BTN:disabled {
    background-color: gray;
    opacity: 50%;
    cursor: not-allowed;
}

#NEXT_BTN:disabled,
#PREV_BTN:disabled,
#START_BTN:disabled:hover {
    color: var(--dark-purple);
    opacity: 50%;
    cursor: not-allowed;
}

/* Tar bort radioknapparna */
.answer-option input[type="radio"] { 
    display: none;
}

.answer-option {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px var(--dark-purple);
    border-radius: 5px;
    background: var(--olive-green);
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    min-width: 300px;
    
}

.answer-option-disabled {
    display: flex;
    justify-self: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px dimgray;
    border-radius: 5px;
    background: gray;
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    opacity: 50%;
    cursor: not-allowed;
    
}

.correct-answer {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px dimgray;
    border-radius: 5px;
    background: var(--olive-green);
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    min-width: 300px;
    opacity: 50%;
    cursor: not-allowed;
}

.correct-answer:hover {
    background: var(--olive-green);
    color: var(--dark-purple);
}

.incorrect-answer {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px dimgray;
    border-radius: 5px;
    background: gray;
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    min-width: 300px;
    opacity: 50%;
    cursor: not-allowed;
}

.selected-incorrect {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px dimgray;
    border-radius: 5px;
    background: #8b0000;
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    min-width: 300px;
    opacity: 50%;
    cursor: not-allowed;
}
.selected-incorrect:hover {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 6px;
    margin-bottom: 4px;
    height: 25;
    border: solid 2px dimgray;
    border-radius: 5px;
    background: var(--darkred);
    font-family: Philosopher;
    font-weight: bolder;
    padding-top: 4px;
    color: var(--dark-purple);
    min-width: 300px;
    opacity: 50%;
    cursor: not-allowed;
}

.invisible {
    opacity: 0% !important;
}
